/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: #011816;
}

main {
  background: #011816;
}

/* all font family */
/* font-family: "Jua", sans-serif; */
/* font-family: "Bebas Neue", cursive; */
/* font-family: "Karla", sans-serif; */
/* font-family: 'Jost', sans-serif; */
